.detail {
  .area-w(1200px);
  .mar-3(150px, auto, 0);
  .title {
    h2 {

    }

    ul {
      .flex;
      .mt(30px);

      li {
        .mr(10px);
        .flex;
        .flex-ali-center;

        i {
          .mr(5px);
        }
      }
    }
  }

  .content {
    .pad-2(50px, 0);
  }
}
