::-webkit-scrollbar {
  .area(8px, 8px);
}

::-webkit-scrollbar {
  .area(5px, 5px);

}

::-webkit-scrollbar-thumb {
  .bdr(8px);
  .bgc(var(--my-bright-active-theme-color));
}

::-webkit-scrollbar-track-piece {
  .bgc(var(--my-cur-default-theme-bgc));
  .bdr(6px);
}

html,
body {
  .area-w(100%);
  .min-w(1200px);
  .fz(14px);
  .color(var(--my-cur-default-theme-color));
  .bgc(var(--my-cur-default-theme-bgc));
  font-family: "auto";
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  .mar-1(0);
  .pad-1(0);
}

a {
  display: inline-block;
  text-decoration: none;
  .cursor(pointer);
  .text-transition-gradient;
  color: var(--my-cur-default-theme-color);

  &:hover {
    opacity: var(--my-feat-opacity-hover);
  }
}

i {
  .fz(normal);
}

img {
  .max-w(100%);
}

input,
textarea {
  .cle-bd;
  outline: none;
  font-family: "Microsoft YaHei";
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: inset 0 0 0 1000px #fff !important;
}

button {
  .cursor(pointer);
  .cle-bd;
  outline: none;
}

em {
  font-style: normal;
}

ul,
li,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
em,
i {
  line-height: 1;
  .lh(1);
}

i {
  .color(var(--my-iconfont-theme-color));
  .fz(16px);
}
